In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer, LabelEncoder
from scipy.stats import norm, skew

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Users\mlvik\anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [3]:
#Loading the Automobile data into a dataframe for the minichallenge
df = pd.read_csv('../data/Automobile_data.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 1
- Impute the missing values in all columns and replace the numerical data with mean of the particular column (Make sure you replace "?" by "NaN" before Imputing).

In [4]:
#Replacing '?' by 'NaN' and then Imputing missing data in the columns 'normalized-losses','horsepower'
df = df.replace("?","NaN")
numeric_imp = Imputer(missing_values="NaN",strategy='mean',axis=0)
df['normalized-losses'] = numeric_imp.fit_transform(df[['normalized-losses']])
df['horsepower'] = numeric_imp.fit_transform(df[['horsepower']])

NameError: name 'Imputer' is not defined

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 2
Check the skewness of the numeric variables and apply square root transformation on variables with skewness greater than 1.

In [ ]:
numeric_feature_auto = df._get_numeric_data().columns
for feature in numeric_feature_auto:
    if skew(df[feature])>1:
        df[feature] = np.sqrt(df[feature])


<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 3
Label Encode the categorical variables.

In [ ]:
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df
df = dummyEncode(df)


<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 4
Combine the 'height' and 'width' to make a new feature 'area' of the frame of the car.

In [ ]:
df['area'] = df['height'] * df['width']