In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math

In [2]:
df1 = pd.read_csv('../data/train.csv')
df1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df2 = pd.read_csv('../data/weather_2012.csv')
df2.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

<br/><br/>

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 1
***

Find the probability of getting three houses in a row in the neighborhood of  Edwards.

In [4]:
all_houses = df1.shape[0]
houses_in_Edwards = df1.loc[df1['Neighborhood']=='Edwards'].shape[0]

print(houses_in_Edwards/all_houses * (houses_in_Edwards-1)/(all_houses-1) * (houses_in_Edwards-2)/(all_houses-2))

0.00031238890343612726

<br/><br/>

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 2
***

Consider a sample of LotArea of 500 houses at random from 1460 houses and print it's mean and then check it with the entire population mean of LotArea

In [5]:
np.random.seed(6)
sample_area = np.random.choice(a=df1['LotArea'],size=500)
print("Sample_mean: {}".format(sample_area.mean()))
print("Population_mean: {}".format(df1['LotArea'].mean()))

Sample_mean: 10701.91
Population_mean: 10516.828082191782

<br/><br/>

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 3
***

Find the 95% confidence interval for the Temperature column in the weather dataset for a sample size of 1000.

In [6]:
np.random.seed(10)

sample_size=1000
sample = np.random.choice(df2['Temp (C)'],size = sample_size)
sample_mean = sample.mean()

z_critical = stats.norm.ppf(q=0.05)

print("z-critical value: ",z_critical)  

pop_stdev = df2['Temp (C)'].std()

margin_of_error = z_critical * (pop_stdev/math.sqrt(sample_size)) 

confidence_interval = (sample_mean - margin_of_error,
                       sample_mean + margin_of_error)  

print("Confidence interval:",end=" ")
print(confidence_interval)

z-critical value:  -1.6448536269514729
Confidence interval: (9.16644333803334, 7.950556661966659)

<br/><br/>

<img src="../images/icon/ppt-icons.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

##  Mini-Challenge - 4
***

For the Weather dataset, let the null and alternate hypothesis be as follows:

    Null Hypothesis: The mean of Temperature when it is foggy ('Fog') is the same as the population mean.
    Alternate Hypothesis: The mean of Temperature when it is foggy ('Fog') is different than the population mean.
Test the above hypothesis at 90% significance level and print True if we do not reject the null hypothesis.

In [8]:
z_critical=stats.norm.ppf(q=0.90)
a=stats.ttest_1samp(a= df2[df2['Weather'] == 'Fog']['Temp (C)'],               # Sample data
                 popmean= df2['Temp (C)'].mean())
if a[0]<a[1]:
    b=np.array(a)
    print(b[1],'   ',b[1]<b[0])

1.8319233292711503e-10     False